.rewards {
  margin-bottom: 5rem;
  &__logo {
    padding: 3rem 0;

    display: flex;
    flex: 1;
    position: relative;

    &__wrapper {
      height: 700px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      width: 70%;
      background-color: $blue;
    }
    img {
      position: relative;
      left: calc(100% - 23rem);
      height: 700px;
    }
  }
  &__content {
    flex: 1;
    align-content: center;

    &__wrapper {
      width: 500px;
    }
  }
}
